/* Reset some default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout base */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Navbar */
.navbar {
  height: 7%;
  background-color: #004d99;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 5px 5px 5px #b3adad;
  margin-left: 200px; /* same as sidebar width */
  width: calc(100% - 200px);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-right button {
  margin-left: 10px;
  padding: 8px 12px;
  border: none;
  background-color: #0073e6;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .navbar-right button {
    display: block;
    width: 100%;
    margin: 5px 0;
  }
}
.navbar-right button:hover {
  background-color: #005bb5;
}

/* Sidebar */
.sidebar {
  position: fixed;
  left: 0;
  width: 10%;
  height: 100vh;
  background-color: #f1f1f1;
  padding-top: 20px;
  border-right: 1px solid #ccc;
  box-shadow: 5px 5px 5px #b3adad;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  display: block;
  border-radius: 4px;
}
.sidebar ul li a.active{
    background-color: #04AA6D;
  color: white;
}
.sidebar ul li a:hover {
  background-color: #ddd;
}

/* Main content */
.content {
  margin-left: 200px; /* Leave space for sidebar */
  margin-top: 60px; /* Leave space for navbar */
  padding: 20px;
  background-color: #fafafa;
  height: calc(100vh - 60px);
  overflow-y: auto;
}
.sidebar ul li a i {
  margin-right: 10px;
}
.sidebar-image {
  text-align: center;
  padding: 10px 0;
}

.sidebar-image img {
  width: 60%;        /* adjust size as needed */
  height: auto;
  border-radius: 50%; /* makes it circular */
}
